# @package _global_

## This config has to be loaded in every other configs
defaults:
  # strictly typed config is used to validate all parameters from here. see src/arg_parser.py for more details
  - strict_config
  # don't configure hydra logging at all
  - override hydra/job_logging: disabled

# everything below would override experiments configs! so take care
hydra:
  run:
    dir: ${log.dir}/${now:%Y-%m-%d}_${log.exp_name}/${now:%H-%M}
  # don't create subdir for yaml files
  output_subdir: .